:root{
    --color:#e8133a;
    --spacing:10px;
    --blur: 0px;
}

#container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}



#background{
    background:var(--color);
    padding:var(--spacing);
    filter:blur(var(--blur));
}